{% if cnpr>0 %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <i class="flaticon-server global-radius effect-1 alignleft"></i>
                        <h3>{{data[0][2]}} - [{{data[0][1]}}]</h3>
                        <p>Price: Rs. {{data[0][4]}} 
						<br>
						{{data[0][5]}}
						<br>
						Manufactured on {{data[0][6]}}, {{data[0][7]}}
						<small class="readmore">
							<a href="/view_prd">Read more</a>
						</small>
						</p>
                    </div><!-- end icon-wrapper -->
                </div><!-- end col -->
				{% endif %}
				{% if cnpr>1 %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <i class="flaticon-cloud-computing-1 global-radius effect-1 alignleft"></i>
                        <h3>{{data[1][2]}} - [{{data[1][1]}}]</h3>
                        <p>Price: Rs. {{data[1][4]}} 
						<br>
						{{data[1][5]}}
						<br>
						Manufactured on {{data[1][6]}}, {{data[1][7]}}
						<small class="readmore">
							<a href="/view_prd">Read more</a>
						</small>
						</p>
                    </div><!-- end icon-wrapper -->
                </div><!-- end col -->
				{% endif %}
				{% if cnpr>2 %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        <i class="flaticon-world-wide-web global-radius effect-1 alignleft"></i>
                        <h3>{{data[2][2]}} - [{{data[2][1]}}]</h3>
                        <p>Price: Rs. {{data[2][4]}} 
						<br>
						{{data[2][5]}}
						<br>
						Manufactured on {{data[2][6]}}, {{data[2][7]}}
						<small class="readmore">
							<a href="/view_prd">Read more</a>
						</small></p>
                    </div><!-- end icon-wrapper -->
                </div><!-- end col -->
            </div><!-- end row -->
			{% endif %}
			{% if cnpr>3 %}
            <hr class="hr3"> 

            <div class="row"> 
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <i class="flaticon-cup global-radius effect-1 alignleft"></i>
                        <h3>{{data[3][2]}} - [{{data[3][1]}}]</h3>
                        <p>Price: Rs. {{data[3][4]}} 
						<br>
						{{data[3][5]}}
						<br>
						Manufactured on {{data[3][6]}}, {{data[3][7]}}
						<small class="readmore">
							<a href="/view_prd">Read more</a>
						</small>
						</p>
                    </div><!-- end icon-wrapper -->
                </div><!-- end col -->
				{% endif %}
				{% if cnpr>4 %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                        <i class="flaticon-cer-file-format global-radius effect-1 alignleft"></i>
                        <h3>{{data[4][2]}} - [{{data[4][1]}}]</h3>
                        <p>Price: Rs. {{data[4][4]}} 
						<br>
						{{data[4][5]}}
						<br>
						Manufactured on {{data[4][6]}}, {{data[4][7]}}
						<small class="readmore">
							<a href="/view_prd">Read more</a>
						</small>
						</p>
                    </div><!-- end icon-wrapper -->
                </div><!-- end col -->
				{% endif %}
				{% if cnpr>5 %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <i class="flaticon-locked global-radius effect-1 alignleft"></i>
                        <h3>{{data[5][2]}} - [{{data[5][1]}}]</h3>
                        <p>Price: Rs. {{data[5][4]}} 
						<br>
						{{data[5][5]}}
						<br>
						Manufactured on {{data[5][6]}}, {{data[5][7]}}
						<small class="readmore">
							<a href="/view_prd">Read more</a>
						</small>
						</p>
                    </div><!-- end icon-wrapper -->
                </div><!-- end col -->
				{% endif %}